
<html>
	<head>
		<title>Basic Form</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
        <link rel="icon" href="https://img.icons8.com/external-flaticons-flat-circular-flat-icons/344/external-form-customer-feedback-flaticons-flat-circular-flat-icons.png"
        type="image/x-icon">
	</head>
	<body>
		<form method="post">
			<table border="1" align="center" width="60%" cellpadding="5px"  bordercolor="green">
				<tr>
					<th colspan="2"><h2 style="color: red;">Registration Form</h2></th>
				</tr>
				<tr>
					<td style="text-align: center;"><label>Student Name</label></td>
					<td><input type="text" placeholder="Ragu G" name="name"></td>
				</tr>
				<tr>
					<td style="text-align: center;"><label>Father's Name</label></td>
					<td><input type="text" placeholder="Gnanasekaran" name="f-name"></td>
				</tr>
				<tr>
					<td style="text-align: center;"><label>Mother's Name</label></td>
					<td><input type="text" placeholder="Sathya" name="m-name"></td>
				</tr>
				<tr>
					<td style="text-align: center;"><label>Date of Birth</label></td>
					<td><input type="date" name="dob"></td>
				</tr>
				<tr>
					<td style="text-align: center;"><label>Gender</label></td>
					<td><label style="color: rgb(74, 8, 255);">male<i class="fa fa-male" aria-hidden="true"></i>
					</label><input type="radio" name="gender" value="male"><label style="color: rgb(198, 214, 20);">
					Female <i class="fa fa-female" aria-hidden="true"></i></label><input name="gender" type="radio" value="female"></td>
				</tr>
				<tr>
					<td style="text-align: center;"><label>Email ID</label></td>
					<td><input type="email" placeholder="ragu19062002@gmail.com" name="email"></td>
				</tr>
				<tr>
					<td style="text-align: center;"><label>Mobile No.</label></td>
					<td><input type="text" placeholder="+917598226670" name="number"></td>
				</tr>
				<tr>
					<td style="text-align: center;"><label>Address</label></td>
					<td><textarea rows="4" placeholder="Type Your address here...." name="address"></textarea></td>
				</tr>				
				<tr>
					<td style="text-align: center;"><label>State</label></td>
					<td><input type="text" placeholder="TamilNadu" name="state"></td>
				</tr>
				<tr>
					<td style="text-align: center;"><label>City</label></td>
					<td><input type="text" placeholder="Erode" name="city"></td>
				</tr>
				<tr>
					<td colspan="2"  style="text-align: center;">
						<input type="submit" value="Submit"/>
					</td>
				</tr>
			</table>
		</form>
        <h3 style="font-style: italic; padding-left: 70%;">RAGU G 19EEL119</h3>
	</body>
</html>